<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <img src="../assets/img/big.jpg"> -->
<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="callMs1()">Test Microservice 1</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="callMs2()">Test Microservice 2</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <span>Answer : </span>
      <span>{{ callMs1Observable | async | json }}</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <span>Answer : </span>
      <span>{{ callMs2Observable | async | json }}</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="callMs1Feign()">Test Microservice 1 (Feign)</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="callMs2Feign()">Test Microservice 2 (Feign)</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <span>Answer : </span>
      <span>{{ callMs1FeignObservable | async | json }}</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <span>Answer : </span>
      <span>{{ callMs2FeignObservable | async | json }}</span>
    </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
